ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color : #141414;
    
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: rgb(250, 246, 246);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  li:last-child {
    margin-right: 0;
  }
    
  li a:hover {
    border: 2px solid white ;
    color: white;
    background-color: black;
  }

  