.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.btn2 {
  background-color: #f88f1f;
  color: #fff;
  padding: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn2:hover {
  background-color: #8e460c;
}

span {
  margin: 0 8px;
}

.img2{
  border : 2px solid rgb(149, 145, 137);
}

.newlink{
  /* list-style-type: none; */
  background-color: beige;
  border-radius: 20%;
}


