img{
    border:3px solid rgb(202, 209, 232);
    float :" right"
}
.mybtn{
    background-color:rgb(0, 255, 153);
    color : red;
}


.main-body{
    display:flex;
    justify-content: space-evenly;
}
Link{
    list-style-type: none;
}